<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">I am a <span id="js-rotating">Developer, Programmer, Profession</span> who has a eager to change the world</h4>
  </div>
  <div class="user-content">
    <p>
      I hope oneday I'm one of members who have same object to affect world better way.
    </p>
    <p>
      Contact me by EMAIL : mentor5520@naver.com
    </p>
  </div>
</div>