{% for post in site.categories.backend %}
<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator" data-pattern-id="{{post.title}}" style="background-image:url('{{site.baseurl}}/assets/res/{{post.img}}');width:100%;background-position:10px center; background-repeat: no-repeat;background-size:100%;">
      <i class="material-icons waves-effect waves-block waves-light">more_vert</i>
      <a class="card-title center-align valign-wrapper" href="{{site.baseurl}}{{post.url}}" style="color:black;">{{post.title}}</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">{{post.date}}</span>
    </div>
  </div>
</div>
{% endfor %}
